button.square{
	
	width: 100px;
	height: 100px;

}


#info-game{
	font-size: 40px;
	font-weight: bold;
}

/*=======*/


body {
	
	background-color: #ff9900;
	font-family: 'Raleway', sans-serif;
	margin: 20px;
	color: #ffffff;
	
}

ol, ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;


}
.square {
	background-color: #FF0080;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square: focus {
	outline: none;
}

.kbd-navigation .square: focus {
	background: #ddd;
}

.game {
	
	float: right;
	display: flex;
	flex-direction: row;
}

.game-info {
	
	float: left;
}
